div {
  margin-top: 12.5%;
}

.wrapper1 {
  width: 50px;
  height: 50px;
  border-radius:50%;
  background-color: black;
  outline: 1px solid transparent;
  margin: auto;
  position:relative;
  top:50%;
  transform: translateY(-50%);
  animation: square-to-circle2 2s 1s infinite;
}

.wrapper2 {
  width: 100px;
  height: 100px;
  border-radius:50% 10% 50% 10%;
  background-color: white;
  outline: 1px solid transparent;
  margin: auto;
  position:relative;
  top:50%;
  transform: translateY(-50%);

}

.wrapper3 {
  width: 150px;
  height: 150px;
  border-radius:50%;
  background-color: black;
  outline: 1px solid transparent;
  margin: auto;
  position:relative;
  top:50%;
  transform: translateY(-50%);
  animation: square-to-circle2 2s 1s infinite;
}

.wrapper4 {
  width: 200px;
  height: 200px;
  border-radius:50% 10% 50% 10%;
  background-color: white;
  outline: 1px solid transparent;
  margin: auto;
  position:relative;
  top:50%;
  transform: translateY(-50%);
}

.wrapper5 {
  width: 300px;
  height: 300px;
  border-radius:50%;
  background-color: black;
  outline: 1px solid transparent;
  margin: auto;
  animation: square-to-circle 2s 1s infinite;
}

@keyframes square-to-circle {
  0%  {
    border-radius:50%;
    background:black;
    transform:rotate(0deg);
  }
  50%  {
    border-radius:50% 10% 50% 10%;
    background:grey;
    transform:rotate(360deg);
  }
  100% {
    border-radius:50%;
    background:black;
    transform:rotate(0deg);
  }
}

@keyframes square-to-circle2 {
  0%  {
    border-radius:50%;
    background:black;
  }
  50%  {
    border-radius:50% 10% 50% 10%;
    background:grey;
  }
  100% {
    border-radius:50%;
    background:black;
  }
}
